h3 {
	font-size: 20px;
	font-weight: 700;
}

.wall {
	width: 100%;
	border-radius: 8px;
}

.profile {
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.photos {
	height: 300px;
}

.photos img {
	border-radius: 8px;
	height: 100%;
}

.text {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between;
	padding: 15px;
	text-align: center;
	width: 290px;
	text-transform: capitalize;
	height: 200px;
	font-size: 16px;
	line-height: 26px;
}

.status span {
	position: absolute;
	right: 90px;
}

.info {
	width: 620px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #E3E8EB;
	background-color: #fff;
	margin-top: 30px;
	padding: 15px;
}

.mystatus {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	height: 40px;
	border: 1px solid #6B757D;
	background-color: #EDF2F6;
	border-radius: 15px;
	min-width: 300px;
}

input {
	margin: 10px 0;
	font-size: 20px;
	line-height: 30px;
	border: none;
	background-color: #EDF2F6;
}

.status_label {
	color: #6B757D;
	margin-left: 15px;
	font-size: 12px;
}
