.post {
	width: 620px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #E3E8EB;
	background-color: #fff;
	margin-top: 30px;
	padding: 15px;
}

.like {
	position: relative;
	color: red;
	padding-left: 30px;
}


.like span {
	position: absolute;
	top: -5px;
	left: 0px;
}

.post img {
	width: 50px;
	border-radius: 50%;
}