.menu {
position: fixed;
width: 350px;
}


.logo img {
	width: 80px;
	height: 80px;
	margin-bottom: 30px;
	padding-left: 10px;
}

.link a {
	position: relative;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 20px;
	color: #6B757D;
	text-transform: uppercase;
	padding: 15px 10px 15px 15px;
	width: 200px;
	padding-left: 55px;
}



.link span {
	position: absolute;
	left: 10px;
	}

.link a:focus, 
.link a:hover {
	color: #000;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #E3E8EB;
}
