
.logo img {
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
}

.link a {
	position: relative;
	display: block;
	margin: 0 auto 10px auto;
	text-decoration: none;
	font-size: 20px;
	color: #6B757D;
	text-transform: uppercase;
	padding: 15px 30px 15px 15px;
	min-width: 200px;
	padding-left: 55px;
}



.link span {
	position: absolute;
	left: 15px;
	}

.link a:focus, 
.link a:hover {
	color: #000;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #E3E8EB;
}
