* {
	font-family: 'Roboto', sans-serif;
}

#root {
	background-color: #EDF2F6;
}

.container {
	margin: 0 auto;
	padding-top: 70px;
	max-width: 1000px;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	background-color: #EDF2F6;
}


