* {
	font-family: 'Roboto', sans-serif;
}

html {
	background-color: #EDF2F6;
}

.container {
	position: relative;
	margin: 0 auto;
	padding-top: 160px;
	max-width: 1000px;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: #EDF2F6;
}

:focus, :active {
	outline: none;
}


