.wrapper {
	position: absolute;
	width: 650px;
	left: 350px;
}

.message_form {
	position: relative;
	padding: 30px 20px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #E3E8EB;
	background-color: #fff;
	min-height: 150px;
}

.message_form span {
	color: #fff;
	font-size: 30px;
}

.message_input {
	border: none;
	border-radius: 15px;
	box-sizing: border-box;
	width: 605px;
	height: 80px;
	font-size: 16px;
	padding: 5px 15px 0px 15px;
	resize: none
}
.message_input:focus{
	outline: none;
}

.message_button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: 10px;
	right: 20px;
	background-color: #00A4F7;
	width: 100px;
	height: 50px;
	border: none;
	color: #fff;
	border-radius: 15px;
	cursor: pointer;
}

.dialogs {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 30px 0px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #E3E8EB;
	background-color: #fff;
	grid-gap: 10px;
	margin-top: 30px;
}

.items {
	padding-left: 30px;
}

.item {
	margin-top: 10px;
}

.item a {
font-size: 25px;
text-decoration: none;
color:black;
}

.item a:active {
	color: #00A4F7;
}

.messages {
	padding-left: 30px;
	border-left: 1px solid #000;
}

.message {
font-size: 20px;
}

